# Folders to ignore
node_modules
public
dist
server/run
server/logs

# Numerous always-ignore extensions
*.lock

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
.vscode
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db